<!doctype html>
<html>
    <style>
        form {
            margin: 100px 75px 25px 450px;
            width: 25%;
        }
        
        .result {
            margin: 10px 10px 2000px 300px;
            width: 100%;
            border: 1px solid #ccc;
        }
        </style>


<head>
<title>Drug Prediction</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Symptoms:
        <input name="Symptoms" type="object" required>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="items">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
        <br> Predicted Drugs are:
   		<p style="font-size:15px">{{ result }}</p>
    {% endif %}
</div>

</html>